/*
Errno::ENOENT: No such file or directory - masters.scss

Backtrace:
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:339:in `read'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/plugin.rb:107:in `method_missing'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/exec.rb:445:in `watch_or_update'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/exec.rb:307:in `process_result'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/exec.rb:41:in `parse'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/lib/sass/exec.rb:21:in `parse!'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/gems/sass-3.2.7/bin/sass:9:in `<top (required)>'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/bin/sass:19:in `load'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/bin/sass:19:in `<main>'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/bin/ruby_noexec_wrapper:14:in `eval'
/Users/Cris/.rvm/gems/ruby-1.9.3-p194@crowdscore/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - masters.scss"; }
