<div class="featured-module">
  <div class="image" style="background-image: url(http://luxurybeaulieuhotel.com/wp-content/uploads/2012/07/MT018-matt-tomkinson_david-griffen-photography_1643-6695.jpg)">
  </div>

  <div class="info">
    <div class="body">
      <div class="score-container">
      <%= render 'shared/pie_graph', type: "dashboard-score", score: 80, animate: true  %>
      </div>
      <h4>Bubby's Awesome Southern Food</h4>
      <p class="geo">
        <span>0.2 miles</span>
        <span>brooklyn</span>
      </p>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu
      </p>
    </div>
    
  </div>
</div>