/** AGGREGATED STYLES FOR FORMS ACROSS THE APPLICATION **/

/******************/
/* EDIT USER PAGE */
/******************/

#inner-page-container {
    width: 960px;
    height: 100%;
    margin: auto;
    margin-top: 80px;
    display: block;
    position: relative;
}

.centered-form-container {
	width: 960px;
    height: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    display: block;
    position: relative;
}

form#edit_user {
    text-align: left;
}

.user-form-header {
    width: 50%;
    display: inline-block;
}

fieldset {
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#required-field-key {
	float: left;
	/* border-left: 2px solid #f15a23; */
	
}

.required {
	color: #f15a23;
	font-weight: 100;
	font-size: 11px;
}

#user-form-fields-upper-container {
	overflow: hidden;
	margin-bottom: 60px;
}

#left-user-form-fields,
.left-user-form-fields {
    width: 50%;
    float: left;
    margin-right: 0px;
    padding-right: 10px;
}

#right-user-form-fields,
.right-user-form-fields {
    width: 50%;
    float: right;
    margin-bottom: 10px;
    padding-left: 10px;
}

#right-user-form-fields,
#left-user-form-fields,
.right-user-form-fields,
.left-user-form-fields {
	&:after {
		clear: both;
		display: table;
		content: ""
	}
}

#password-confirmation {
    width: 50%;
    float: left;
}

.half-width-form-field,
.disabled-half-width-form-field {
	margin-bottom: 20px;
	padding: 0px 20px;
	font-size: 12px;
	font-weight: 500;
	outline: none;
}

.half-width-form-field {
	width: 100%;
	height: 45px;
	background-color: #e5f8fd;
	border: none;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0px 1000px #e5f8fd inset;
}

.disabled-half-width-form-field {
	width: 100%;
	height: 45px;
	border: none;
	border-radius: 3px;
	background-color: #f2f2f2;
}

.standard-blue-text-field {
    height: 45px;
    background-color: #e5f8fd;
    border: none;
    padding-left: 10px;
    border-radius: 3px;
}

.small-blue-text-field {
    height: 45px;
    width: 400px;
    margin-bottom: 20px;
    background-color: #e5f8fd;
    border: none;
    padding-left: 10px;
    border-radius: 3px;
}


input.standard-blue-text-field,
textarea.standard-blue-text-field {
    width: 85%;
}

.big-text-area {
	width: 100%;
	height: 128px;
	padding: 10px 20px 0px 20px;
}

/*
.required-form-field {
	border-left: 2px solid #f15a23;
}
*/

#user-form-fields-lower-container {
	overflow: hidden;
	border-top: 1px solid #dadada;
	padding-top: 60px;
	margin-bottom: 60px;
}

#user-form-fields-email-container {
	overflow: hidden;
	border-top: 1px solid #dadada;
	padding-top: 60px;
	margin-bottom: 60px;
}

#user-form-email-preferences-instructions {
	width: 50%;
	float: left;
	line-height: 1.3em;
	
	h3 {
		font-size: 25px;
		font-weight: 100;
		color: #2d3132;
	}
	p {
		width: 80%;
		font-size: 14px;
		font-weight: 100;
		color: #6b6e70;
		margin-top: 15px;
	}
}

#user-form-update-email-preferences-container {
	width: 50%;
	float: right;
	
	.password-no-margin {
		margin-bottom: 0px;
	}
	
	.help-block {
		margin-bottom: 20px;
		display: inline-block;
	}
	
	.email-checkbox {
		margin-right: 10px;
		margin-bottom: 30px;
	}
}

#user-form-update-password-instructions {
	width: 50%;
	float: left;
	line-height: 1.3em;
	
	h3 {
		font-size: 25px;
		font-weight: 100;
		color: #2d3132;
	}
	p {
		width: 80%;
		font-size: 14px;
		font-weight: 100;
		color: #6b6e70;
		margin-top: 15px;
	}
}

#user-form-password-reset-container {
	width: 50%;
	float: right;
	
	.password-no-margin {
		margin-bottom: 0px;
	}
	
	.help-block {
		margin-bottom: 20px;
		display: inline-block;
	}
}

label.user-form-label {
    font-family: Museo;
    text-align: left;
    text-transform: uppercase;
    color: #2d3132;
    font-weight: 300;
    font-size: 11px;
    line-height: 32px;
    letter-spacing: 1px;
}

.help-block {
    font-family: Museo;
    font-weight: 100;
    font-size: 12px;
    color: #acacac;
}

#user-form-save-updates-container {
	width: 100%;
	padding-top: 60px;
	text-align: center;
	border-top: 1px solid #dadada;
	margin-bottom: 20px;
	
	button {
		background-color: #02b8ea;
		border-radius: 30px;
		border: none;
		padding: 20px 44px;
		color: #fff;
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

#user-form-cancel-account-container {
	width: 100%;
	margin-bottom: 60px;
	
	p {
	    width: 70%;
	    font-weight: 100;
	    font-size: 14px;
	    line-height: 20px;
	    color: #6b6e70;
	}
}

.standard-submit-button {
	background-color: #02b8ea;
    border-radius: 30px;
	border: none;
	padding: 20px 44px;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*************************/
/* EDIT VENUE ADMIN PAGE */
/*************************/

.admin-edit-form {
  .half-width-form-field {
	width: 50%;
	height: 45px;
	background-color: #e5f8fd;
	border: none;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 0px 1000px #e5f8fd inset;
}
}

/*************************/
/* SIGN IN PAGE STYLES   */
/*************************/

#sign-in-form {
	h1 {
		font-size: 50px;
		font-weight: 100;
		line-height: 1em;
		margin-bottom: 30px;
	}
}

.facebook-signup-button,
.facebook-signin-button {
  color: #ffffff;
  display: inline-block;
  margin: 25px 0;
  line-height: 44px;
  background-color: #3b5998;
  text-align: left;
  border-radius: 24px;
  text-decoration: none;

  i, & > div {
    display: inline-block;
  }

  i {
    width: 53px;
    font-size: 26px;
    line-height: 44px;
    vertical-align: top;
    border-right: 1px solid #536da5;
    text-align: center;
    padding-left: 5px;
  }
  & > div {
    border-left: 1px solid #344e86;
    font-size: 12px;
    vertical-align: top; 
    text-align: center;
    width: 230px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.sign-in-submit-button {
    height: 44px;
    border-radius: 23px;
    border: 0px;
    padding: 0;
    background-color: #02b8ea;
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;

    &:active,
    &:focus
    { 
      outline: none;
      position: relative;
      border: 2px dotted #fff;
    }
  }
  
.sign-in-form-label {
      display: block;
      font-size: 11px;
      font-weight: 300;
      color: #2d3132;
      line-height: 24px;
      text-transform: uppercase;
    }