/** AGGREGATED STYLES FOR FORMS ACROSS THE APPLICATION **/

/** EDIT USER PAGE **/

#inner-page-container {
    width: 960px;
    height: 100%;
    margin: auto;
    margin-top: 80px;
    display: block;
    position: relative;
}

h1, h2 {
    font-family: Museo;
    font-weight: 100;
}

p#facebook-not-connected {
    font-family: Museo;
    font-weight: 100;
    
    a {
        color: #02b8ea;
        text-decoration: none;
    }
}


p#facebook-connected {
    font-family: Museo;
}

form#edit_user {
    text-align: left;
}

.user-form-header {
    width: 50%;
    display: inline-block;
}

fieldset {
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#required-user-form-fields {
    width: 50%;
    float: left;
}

#optional-user-form-fields {
    width: 50%;
    float: right;
    margin-bottom: 10px;
}

#password-confirmation {
    width: 50%;
    float: left;
}

.standard-blue-text-field {
    height: 45px;
    background-color: #e5f8fd;
    border: none;
    padding-left: 10px;
    border-radius: 3px;
}

input.standard-blue-text-field,
textarea.standard-blue-text-field {
    width: 85%;
}

label.user-form-label {
    font-family: Museo;
    text-align: left;
    text-transform: uppercase;
    color: #2d3132;
    font-weight: 300;
    font-size: 11px;
    line-height: 32px;
}

.help-block {
    font-family: Museo;
    font-weight: 100;
    font-size: 12px;
    color: #acacac;
}