@import "bourbon";

#homepage {
	.search-hero {
		background: url(image_path('search_hero_bg.jpg')) no-repeat center;
		background-size: cover;
		height: 768px;
		@include display(flex);
		@include justify-content(flex-end);

		.search-container {
			padding: 40px;
			text-align: left;
			width: 40%;
			@include linear-gradient(90deg, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
			@include align-self(stretch);
			@include display(flex);
			@include flex-direction(column);
			@include justify-content(center);
		}

		.search-form {
			margin: 40px 0;
		}

		input[type="text"] {
			background-color: rgba(255, 255, 255, 0.8);
			border: 0;
			color: #6b6e70;
			font-size: 20px;
			font-weight: 300;
			height: 67px;
			margin-bottom: 2px;
			outline: none;
			padding: 0 30px 0 70px;
			width: 100%;
		}

		input[type="submit"] {
			background-color: #02b8ea;
			border: 0;
			border-radius: 22px;
			color: #fff;
			font-weight: 900;
			letter-spacing: 1px;
			height: 44px;
			margin-top: 20px;
			text-transform: uppercase;
			width: 195px;
		}

		.search-query {
			background: url(image_path('search_homepage.png')) no-repeat center;
			background-size: 22px;
			background-position: 25px;
			border-radius: 3px 3px 0 0;
		}

		.search-location {
			background: url(image_path('location_homepage.png')) no-repeat center;
			background-size: 17px;
			background-position: 28px;
			border-radius: 0 0 3px 3px;
		}

		h1 {
			color: white;
			font-size: 50px;
			font-weight: 100;
			line-height: 60px;
		}

		p, a {
			color: white;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			margin-bottom: 15px;
		}

		a {
			text-decoration: underline;
		}
	}

}