$cs-c-blue: #02b8ea;
$cs-c-ddgray: #6b6e70;
@import "bourbon";

/* Styles for list detail page */

#list-header-outter-container {
	width: 100%;
	background-color: #f7f7f7;
}

#list-header-container {
	width: 582px;
	margin: auto;
	padding-top: 76px;
	background-color: #f7f7f7;
	
	  #user-image {
		  height: 36px;
		  width: 36px;
		  margin: auto;
		  margin-bottom: 12px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
	  }

	  #list-creator {
		  font-family: Museo;
		  font-weight: 700;
		  font-size: 11px;
		  letter-spacing: 1px;
		  margin-bottom: 24px;
		  color: #2d3132;
	  }

	  .list-hr {
		  height: 4px;
		  width: 80px;
		  margin: auto;
		  font-weight: 100;
		  background-color: #2d3132;
	  }

	  #list-name {
		  font-family: Museo;
		  font-weight: 100;
		  font-size: 58px;
		  line-height: 1em;
		  color: #2d3132;
		  margin-bottom: 0;
		  margin-top: 40px;
	  }
	  #list-description {
		  font-weight: 300;
		  font-size: 14px;
		  line-height: 20px;
		  letter-spacing: .25px;
		  margin-top: 10px;
		  margin-bottom: 10px;
		  color: #6b6e70;
		  display: inline-block;
	  }
	  
	  #list-dates {
	    width: 100%;
	    overflow: hidden;
	    font-weight: 700;
	    font-size: 11px;
	    color: #2d3132;
	    padding-top: 20px;
	    padding-bottom: 80px;
	    border-top: 1px solid #dadada;
	    
		#list-created-at {
		    width: 50%;
		    display: block;
		    float: left;
		    text-align: left;
	    }
	    #list-updated-at {
		    width: 50%;
		    display: block;
		    float: right;
		    text-align: right;
	    }
	  }
	  
	  #like-list-button-container {
		  margin-bottom: 30px;
	  }

	  .social-container {
	  	border-radius: 2px;
	  	box-shadow: 0px 1px 0px #fff;
	  	margin-top: 15px;
	  	margin-bottom: 44px;
	  	display: inline-block;

	  	.action {
	  		font-size: 11px;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 1px;
				display: inline-block;
				float: left;
				text-decoration: none;
	  	}

	  	.like-button {
	  		width: 154px;
	  		line-height: 44px;
				color: #fff;
				border-radius: 2px 0 0 2px;

				span {
					padding-left: 25px;
	  			background-size: 12px 16px;
      		background-image: url('list-social-thumbs-up.png');
      		background-position: left center;
      		background-repeat: no-repeat;
      		display: inline-block;
				}

	  		&.blue {
	  			background-color: $cs-c-blue;
	  		}

	  		&.green {
	  			background-color: #72ca28;
	  		}
	  	}

	  	.like-count {
	  		line-height: 42px;
	  		border-top: 1px solid #e6e6e6;
	  		border-bottom: 1px solid #e6e6e6;
	  		width: 112px;
	  		background-color: #eee;
	  		color: #02b8ea;
	  	}

	  	.share-button {
	  		width: 136px;
	  		line-height: 42px;
	  		border: 1px solid #e6e6e6;
	  		border-radius: 0px 2px 2px 0px;
	  		background-color: #eee;
	  		color: #02b8ea;
	  		position: relative;

	  		&:before {
	  			content: "";
	  			height: 42px;
	  			width: 1px;
	  			background-color: #f7f7f7;
	  			position: absolute;
	  			left: 0;
	  			bottom: 0;
	  		}

	  		span{
	  			padding-left: 25px;
	  			background-size: 20px 15px;
      		background-image: url('list-share-social.png');
      		background-position: left center;
      		background-repeat: no-repeat;
      		display: inline-block;
	  		}
	  	}
	  }
	  
	  .blue-like-list-button {
		  height: 40px;
		  width: 160px;
		  
      line-height: 40px;
		  background-color: #02b8ea;
		  color: #ffffff;
		  font-weight: 700;
		  font-size: 12px;
		  text-decoration: none;
		  
		  a {
	      color: #fff;
	      text-decoration: none;
		  }
		  
		  a:visited {
			  color: #fff;
			  text-decoration: none;
		  }
	  }
	  .green-like-list-button {
		  height: 40px;
		  width: 160px;
		  border-radius: 3px;
		  display: inline-block;
          padding-bottom: 12px;
          line-height: 40px;
		  background-color: #72ca28;
		  color: #ffffff;
		  font-weight: 700;
		  font-size: 12px;
		  text-decoration: none;
		  text-transform: uppercase;
		  letter-spacing: 1px;
		  
		  a {
		      color: #fff;
		      text-decoration: none;
		  }
		  
		  a:visited {
			  color: #fff;
			  text-decoration: none;
		  }
	  }
	  	 
}


#list-venues-container {
	width: 582px;
	margin: auto;
	padding-top: 72px;
	white-space: nowrap;
	overflow: hidden;
	
	h3 {
		font-weight: 300;
		font-size: 25px;
		color: #34373f;
		text-transform: capitalize;
		position: relative;
		margin: 0;

		span{
			line-height: 30px;
			background-color: #fff;
			position: relative;
			padding: 0px 18px;
		}

		&:before {
			content: "";
			height: 4px;
			width: 100%;
			background-color: #dadada;
			position: absolute;
			left: 0;
			top: 13px;
		}
	}

	.list-venue-container {
	    border-bottom: 1px solid #dadada;
	    text-align: left;
	    padding: 27px 0;
	    overflow: hidden;

	    &:last-child {
	    	border-bottom: 0;
	    }
	
		.venue-index-container {
			width: 27px;
			color: #fff;
			line-height: 29px;
			display: inline-block;
			background-color: #2464ad;
			text-align: center;
			font-size: 12px;
			font-weight: 900;
			vertical-align: top;
			margin-top: 10px;
		}

		.venue-info{
			display: inline-block;
			margin-top: 10px;
			margin-left: 10px;
		}

		.venue-name {
			font-weight: 700;
			font-size: 14px;
			color: #000;
			letter-spacing: 0.5px;
			text-transform: uppercase;
	    text-decoration: none;
	    color: #000;
	    display: block;
		}

		.venue-categories {
			font-weight: 100;
			font-size: 12px;
			color: #6b6e70;
			display: block;
		}

		.pie-container {
			float: right;
			text-align: center;
		}
	}
}

.list-map-container {
	width: 100%;
	height: 600px;
}

#more-lists-by-user-outter-container {
	width: 100%;
    background-color: #f7f7f7;
}

#more-lists-by-user-container {
	width: 960px;
	margin: auto;
	background-color: #f7f7f7;
	padding-top: 60px;
	padding-bottom: 80px;
	
	h3 {
		font-weight: 100;
		font-size: 25px;
		color: #34373f;
	}
	
	#more-lists-by-user-carousel-container {
		padding-top: 60px;
		white-space: nowrap;
	}
}

.list-preview-card {
	width: 300px;
	height: 440px;
	margin: auto;
	background-color: #ffffff;
	border-top: 5px solid #2464ad;
	border-radius: 3px;
	padding-top: 50px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;
	white-space: normal;
	padding-right: 20px;
	padding-left: 20px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);

	h3.list-preview-card-list-name {
		color: #2464ad;
		font-weight: 300;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 20px;
		margin-top: 0px;

		a { 
			color: #2464ad;
			font-weight: 300;
			font-size: 25px;
			line-height: 25px;
			text-decoration: none;
		}
	}

	p.list-preview-card-list-description {
		width: 215px;
		height: 50px;
		font-weight: 300;
		color: #6b6e70;
		font-size: 14px;
		line-height: 1.2em;
		margin-bottom: 40px;
	}

	ol.list-preview-card-venue-list {
		list-style-type: none; 
	}

	div.list-preview-card-venue-list {
		margin-bottom: 20px;
	}

	div.list-preview-card-venue {
		width: 240px;
		height: 50px;
		margin: auto;
		border-bottom: 1px solid #dadada;
	}

	.list-preview-card-venue-number {
		float: left;
		line-height: 50px;
		font-weight: 700;
		font-size: 12px;
	}

	.list-preview-card-venue-name {
		float: left;
		line-height: 50px;
		font-weight: 300;
		font-size: 14px;
		color: #6b6e70;
		margin-left: 20px;

		a {
		  line-height: 50px;
		  font-weight: 300;
		  font-size: 14px;
		  color: #6b6e70;
		  text-decoration: none;
		}
	}

	.see-all-venues-link {
		font-weight: 900;
		font-size: 11px;
		color: #02b8ea;
		width: 100%;
		text-align: left;
		position: absolute;
		bottom: 80px;
		left: 0;
		padding: 0 30px;
		margin-bottom: 0px;
		text-transform: uppercase;

		a {
			color: #02b8ea;
		  text-decoration: none;
		}
	}

	.list-preview-card-timestamp-likes {
		width: 260px;
		margin: auto;
		overflow: hidden;
		position: absolute;
		bottom: 20px;
	}

	.list-preview-card-timestamp {
		font-weight: 700;
		font-size: 12px;
		color: #000000;
		float: left;
	}

	.list-preview-card-likes {
		font-weight: 900;
		font-size: 11px;
		color: #02b8ea;
		float: right;

	}
	.no-margin-card {
		margin-right: 0px;
	}
}

#list-creator {
	text-transform: uppercase;
}

#list-name {
	text-transform: capitalize;
}

#list-created-at {
	text-transform: uppercase;
}

#list-updated-at {
	text-transform: uppercase;
}


// List Index Page

// list-index region 
.r_list-index {
	padding: 40px 0px;
	width: 100%;
	height: 100%;
	text-align: left;
	width: 970px;
	margin: 0 auto;

	h1 {
		color: #2d3132;
		text-align: center;
		font-size: 58px;
		font-weight: 100;
		line-height: 2em;
	}

	.list-card {
		text-align: center;
		display: inline-block;
		margin: 9px;
		background-color: #fff;
		box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
		border-radius: 4px;
		position: relative;
		height: 437px;
		width: 300px;
		overflow: hidden;
		@include transition(border-color 0.2s);
		@include transition-delay(0.01s);

		&.details {
			border-top: 6px solid #2464ad;
		}

		&.edit {
			border-top: 6px solid #f15a23;
			@include transition(border-color 0.2s);
			@include transition-delay(0s);
		}


		.details-card {
			border-radius: 4px;
			padding: 0px 29px;
			height: 100%;
			width: 100%;
			position: relative;
			padding-top: 45px;


			.toggle {
				border-color: transparent transparent #02b8ea transparent;

				&:before {
					position: absolute;
					content: "";
					top: 25px;
					right: 8px;

					width: 12px;
					height: 12px;
					background-image: url(image_path('list-card-edit.png'));
					background-size: 12px 12px;
					background-position: center;

				}
			}

			h3.title a {
				color: #2464ad;
			}
		}


		.edit-card, 
		.new-card {
			border-radius: 4px;
			padding: 0px 29px;
			height: 100%;
			width: 100%;
			position: absolute;
			padding-top: 45px;

			background-color: #fff;
			top: 20px;
			left: 10px;
			max-height: 0%;
			max-width: 0%;
			overflow: hidden;
			opacity: 0;
			z-index: 1;

			@include transition(opacity 0.2s, top 0.2s, left 0.2s, max-height 0s, max-width 0s);
			@include transition-delay(0.01s, 0.01s, 0.01s, 0.21s, 0.21s);

			&.visible {
				max-height: 100%;
				max-width: 100%;
				overflow: visible;
				opacity: 1;
				top: 0;
				left: 0;
				@include transition(opacity 0.2s, top 0.2s, left 0.2s, max-height 0s, max-width 0s);
				@include transition-delay(0s, 0s, 0s, 0s, 0s);
			}

			input[type="text"],
			textarea {
				background-color: #f9dfd5;
			}

			.toggle {
				border-color: transparent transparent #f15a23 transparent;

				&:before {
					position: absolute;
					content: "";
					top: 25px;
					right: 8px;

					width: 10px;
					height: 10px;
					background-image: url(image_path('list-card-edit-close.png'));
					background-size: 10px 10px;
					background-position: center;

				}
			}

			.button {
				background-color: #f15a23;
				color: #ffffff;
				&.cancel {
					color: #f15a23;
				}
			}

			h3.title {
				color: #f15a23;
			}
		}

		&.new {
			border-top: 6px solid #72ca28;
			@include transition(border-color 0.2s);
			@include transition-delay(0s);

			.create {
				height: 88px;
				width: 88px;
				background-image: url(image_path('list-card-create.png'));
				background-position: center;
				background-size: 36px 40px;
				background-repeat: no-repeat;

				border-radius: 50%;
				background-color: #72ca28;
				margin: 120px auto 0;
				cursor: pointer;
			}

			h3.title {
				color: #72ca28;
				margin-top: 25px;
			}

			input[type="text"],
			textarea {
				background-color: #e5f7d5;
			}

			.button {
				background-color: #72ca28;
				color: #ffffff;
				&.cancel {
					color: #72ca28;
				}
			}
		}


		h3.title {
			margin-bottom: 12px;
			font-size: 25px;
			font-weight: 300;
			line-height: 1.28em;

			a {
				display: block;
				text-decoration: none;
			}
		}

		p.description {
			color: #6b6e70;
			font-size: 14px;
			font-weight: 300;
			line-height: 1.28em;
			overflow: hidden;
			max-height: 3.84em;
		}

		.toggle {
			width: 47px;
			height: 47px;
			position: absolute;
			border-style: solid;
			border-width: 0 0 47px 47px;
			bottom: 0;
			right: 0;
			cursor: pointer;
			display: block;
		}

		p.timestamp {
			font-size: 12px;
			color: #000;
			font-weight: 700;
			position: absolute;
			left: 29px;
			bottom: 20px; 
		}

		.venues {
			list-style: none;
			margin-top: 20px;
			position: relative;
			height: 185px;
			position: absolute;
			padding-bottom: 30px;
			width: 100%;
			left: 0;
			bottom: 85px;
			padding-left: 29px;
			padding-right: 29px;

			.venue {
				text-align: left;
				border-bottom: 1px solid #dadada;
				line-height: 49px;
			}

			.number {
				color: #000;
				font-weight: 700;
				font-size: 12px;
				margin-right: 15px;
			}

			.name a{
				color: #6b6e70;
				font-weight: 300;
				font-size: 14px;
				text-decoration: none;
			}

			.link {
				font-weight: 900;
				color: #02b8ea;
				font-size: 11px;
				text-transform: uppercase;
				position: absolute;
				text-decoration: none;
				bottom: 0;
				left: 29px;
			}
		}

		.button {
			display: inline-block;
			line-height: 42px;
			font-weight: 900;
			
			font-size: 12px;
			cursor: pointer;
			text-transform: uppercase;
			letter-spacing: 1px;
			border: 0;
			border-radius: 21px;
			margin: 0;

			&.update {
				width: 173px;
			}

			&.cancel {
				background-color: #fff;
			}

			&.delete {
				text-decoration: none;
				width: 224px;
			}
		}

		form {
			text-align: left;
		}

		label {
			color: #2d3132;
			font-size: 11px;
			text-transform: uppercase;
			line-height: 30px;
		}

		input[type="text"],
		textarea {
			width: 100%;
			border: 0;
			font-weight: 700;
			color: #2d3132;
			font-size: 13px;
			outline: none;
		}

		textarea {
			margin-bottom: 18px;
		}

		input[type="text"] {
			height: 45px;
			padding: 0 15px;
			margin-bottom: 8px;
		}

		textarea {
			height: 105px;
			padding: 15px;
			line-height: 1.3em;
		}

		.confirm {
			width: 100%;
			height: 100%;
			background-color: #fff;
			position: absolute;
			top: 20px;
			left: 10px;
			max-height: 0%;
			max-width: 0%;
			overflow: hidden;
			opacity: 0;
			z-index: 1;

			@include transition(opacity 0.2s, top 0.2s, left 0.2s, max-height 0s, max-width 0s);
			@include transition-delay(0.2s, 0.2s, 0.2s, 0.4s, 0.4s);

			h3.title {
				margin-top: 160px;
			}

			.keep {
				text-transform: uppercase;
				font-weight: 900;
				font-size: 11px;
				color: #f15a23;
				position: absolute;
				width: 100%;
				bottom: 50px;
				left: 0;
				cursor: pointer;
			}

			&.visible {
				max-height: 100%;
				max-width: 100%;
				overflow: visible;
				opacity: 1;
				top: 0;
				left: 0;
				@include transition(opacity 0.2s, top 0.2s, left 0.2s, max-height 0s, max-width 0s);
				@include transition-delay(0s, 0s, 0s, 0s, 0s);
			}
		}

	}
}






