#lists-modal {
  #pickers {
    margin-left: 30px;

    label {
      text-align: left;
      clear: both;
    }
  }

  form div, form button, #new_list {
    float: left;
  }
}

#tag-modal {
  form div, form button, #new_tag, .modal-footer p {
    float: left;
  }
}
