/* ADDED BY CRIS */

@mixin transition($transitions...){
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  -ms-transition: $transitions;
  transition: $transitions;
}

@mixin delay($delays...){
  -webkit-transition-delay: $delays;
  -moz-transition-delay: $delays;
  -o-transition-delay: $delays;
  -ms-transition-delay: $delays;
  transition-delay: $delays;
}

@mixin box-sizing(){
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

footer {
  background-color: #2d3132;
  margin-top: 50px;
  height: 80px;
  color: #ffffff;
  line-height: 80px
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Museo;
}
  
body{
  background: #FFF;
  text-align: center;
}  

p{
  margin: 0;
  padding: 0;
  display: inline-block;
}

* {
  @include box-sizing();
}

.wrapper{
  width: 100%;
  min-width: 960px;
  height: 2000px;

  text-align: center;
  position: relative;;
}

nav{
  width: 100%;
  min-width: 980px;
  height: 30px;
  background-color: #2d3132;
  position: relative;
  z-index: 10;

  .navbar-inner{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    padding: 0 10px 0;

    margin: 0;
    height: 100%;
    width: 960px;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        a#register{
          background-color: #02b8ea;
        }
        a:link,
        a:visited{
          font-smoothing: antialiased;
          display: block;
          width: 100px;
          font-size: 11px;
          font-weight: 900;
          font-weight: bold;
          color: #FFFFFF;
          text-align: center;
          line-height: 30px;
          text-decoration: none;
          float: right;
          text-transform: uppercase;
        }
      }
    }
  }
}


.searchbar-placeholder{
  position: relative;
  height: 0px;
  width: 100px;
}
.searchbar-place-holder{
  height: 80px;
  min-width: 980px;
}

.searchbar{
  display: block;
  z-index: 100;
  height: 80px;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  min-width: 980px;
  top: 0px;
  margin-top: 0px;
  background-color: white;
  position: relative;
  box-shadow: 0 0px 3px #d3d3d3;

  .searchbar-inner{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px 0;
    display: inline-block;
    width: 960px;
    height: 84px;
    position: relative;
    text-align: left;
    margin-top: -12px;

    form {
      display: block;
      margin: 0;
      padding: 0;
    }

    input[type='button']{
      border: 0;
      padding: 0;
      cursor: pointer;
      color: #00b8ea;
      background-color: transparent;
      font-weight: 900;
      right: 10px;
      height: 35px;
      vertical-align: middle;
      width: 18px;
      line-height: 35px;
      position: absolute;
      top: 33px;
    }

    .edit{
      background-image: url('location.png');
      background-repeat: no-repeat;
      background-position: center;
      @include transition(opacity 0.5s);
      @include delay(0.5s); 
    }

    .close{
      font-size: 25px;
      display: none;
      @include transition(opacity 0.5s);
      @include delay(0.5s);
    }

    .brand{
      background-image: url('crowdscore_logo.png');
      background-repeat: no-repeat;
      background-position: right;
      display: inline-block;
      position: absolute;
      z-index: 100;
      width: 205px;
      opacity: 1;
      height: 84px;
      left: 0px;
      @include transition(left 0.5s, opacity 0.5s ease-in);
      @include delay(0s, 0s);
    }

    .brand-scroll{
      @include transition(left 0s, opacity 0s);
    } 

    .search-input-scroll{
      @include transition(width 0s, margin 0s);
    }

    .search-input{  
      background-image: url('search.png');
      background-repeat: no-repeat;
      background-position: left;    
      border: none;
      color: #00b8ea;
      font-size: 22px;
      font-weight: 100;
      line-height: 20px;
      width: 35%;
      margin: 0 0 0 248px;
      padding: 0 0 4px 30px;
      outline: none;
      display: inline-block;
      position: absolute;
      bottom: 17px;
      vertical-align: middle;
      @include transition(width 0.5s, margin 0.5s);
      @include delay(0s, 0s);

      &::-webkit-input-placeholder { /* WebKit browsers */
        color:    #00BAEA;
        padding-top: 4px;
        
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #00BAEA;
        padding-top: 4px;
        
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #00BAEA;
        padding-top: 4px;
        
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #00BAEA;
        padding-top: 4px;

      }

    }

    .search-input-active{
      width: 60%;
      margin-left: 0px;
      @include delay(0s, 0s)
    }

    .search-input-fade{
      height: 35px;
      display: inline;
      left: 52%;

      position: absolute;
      width: 100px;
      bottom: 17px;
      background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-image: linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      background-repeat: repeat-x;
    }

    .location-input{
      border: none;
      color: #808587;
      font-weight: 100;
      text-align: right;
      width: 30%;
      height: 35px;
      font-size: 14px;
      line-height: 20px;
      top: 34px;
      right: 35px;
      outline: none;
      opacity: 1;
      border-radius: 2px;
      padding: 8px 12px 8px 35px;
      display: inline-block;
      border: 1px solid transparent;      
      position: absolute;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      @include transition(opacity 0s, border 0s, text-align 0s);
      @include delay(0s, 0s, 0s);

      &::-webkit-input-placeholder { /* WebKit browsers */
        color:    #808587;
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #808587;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #808587;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #808587;
      }
    }

    .location-input-active{
      //border: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      text-align: left;
      opacity: 1;
      @include transition(opacity 0s, border 0s, text-align 0s);
      @include delay(0s, 0s, 0s)
    }

    .location-symbol-active{
      background-image: url('locationsym.png');
      background-repeat: no-repeat;
      background-position: 8px;     
      outline: none;
      vertical-align: middle;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    .invisible{
      opacity: 0;
      left: -248px;
      @include transition(left 0.5s, opacity 0.5s ease-out);
      @include delay(0s, 0s);
    }
  }
} 

.search-bar-top{
  top: -120px;
  position: fixed;
}

.search-bar-fixed-negpos{
  top: 0px;
  @include transition(top 1s);
}


.blurry{
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
}

// Application modals
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  text-align: center;
  
  z-index: 100;
  pointer-events: none;
  overflow-y: scroll;
  opacity: 0;
  background-color: rgba(255,255,255,0.97);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";
  @include transition(all 0.2s);

  & > .modal-mask {
    position: static;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    @include box-sizing();

    .modal-vertical-center {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  .modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
  }

  .close-modal {
    width: 24px;
    position: absolute;
    top: 20px;
    right: 20px;

    color: #999999;
    line-height: 25px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: 100;

    cursor: pointer;
    border-radius: 12px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
  }
}

.modal.visible,
.tmp-modal.visible {
  opacity:1;
  pointer-events: auto;
}

#register-modal, 
#login-modal {
  & > .modal-mask {
    text-align: left;
    min-width: 1050px;
  }

  h1 {
    font-size: 58px;
    font-weight: 100;
    color: #2d3132;
    margin: 0;
    text-align: left;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    color: #6b6e70;
    text-align: left;
    line-height: 1.5em;
    font-weight: 300;

    a {
      text-decoration: none;
      color: #02b8ea;
    }
  }

  .modal-facebook-signup-button,
  .modal-facebook-signin-button {
    color: #ffffff;
    display: inline-block;
    margin: 25px 0;
    line-height: 44px;
    background-color: #3b5998;
    text-align: left;
    border-radius: 24px;
    text-decoration: none;

    i, & > div {
      display: inline-block;
    }

    i {
      width: 53px;
      font-size: 26px;
      line-height: 44px;
      vertical-align: top;
      border-right: 1px solid #536da5;
      text-align: center;
    }
    & > div {
      border-left: 1px solid #344e86;
      font-size: 12px;
      vertical-align: top; 
      text-align: center;
      width: 230px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  .registration-modal-form-field {
    text-align: left;
    margin-left: 3%;
    position: relative;
    display: block;
    float: left;
    margin-top: 10px;

    label {
      display: block;
      font-size: 11px;
      font-weight: 300;
      color: #2d3132;
      line-height: 24px;
      text-transform: uppercase;
    }

    input {
      background-color: #e5f8fd;
      outline: none;
      height: 44px;
      border: 0;
      padding: 0 20px;
      width: 100%;
      font-size: 12px;
    }
  }

  .left-rail {
    width: 440px;
    padding: 60px 70px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #dadada;
  }

  .registration-modal-submit-button {
    line-height: 44px;
    border-radius: 23px;
    border: 0px;
    padding: 0;
    background-color: #02b8ea;
    color: #ffffff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 25px;
    text-align: center;
    width: 256px;
    margin-left: 3%;
    text-transform: uppercase;
  }
  .right-rail {
    vertical-align: top;
    display: inline-block;
    padding: 40px 20px;

    .registration-modal-form {
      width: 540px;

      .half {
        width: 47%;
      }

      .full {
        width: 97%;
      }
    }
  }

}

#login-modal {
  & > .modal-mask {
    min-width: 960px;
  }

  p {
    margin: 30px 10px;
  }

  h1 {
    display: inline-block;
    vertical-align: top;
  }

  .modal-facebook-signin-button {
    display: inline-block;
    vertical-align: top;
    margin: 12px;
  }

  
  input[type="text"], 
  input[type="password"] {
    width: 345px;
  }

  input[type="submit"] {
    display: inline-block;
    margin: 0;
    width: 200px;
    vertical-align: top;
    margin-top: 34px;
    margin-left: 24px;
  }

  .modal-centered-body {
    display: inline-block;
    text-align: left;
    width: 960px;
  }

  .registration-modal-form-field {
    margin-left: 5px;
  }

  .gangster {
    text-align: left;
  }
  .password {
    margin-left: 20px;
  }
}
.tmp-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(255,255,255,0.97);
}

