@import "bourbon";
$cs-c-blue: #02b8ea;
$cs-c-ddgray: #6b6e70;

.md-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  text-align: center;
  
  z-index: 9999;
  pointer-events: none;
  overflow-y: scroll;
  opacity: 0;
  @include transition(all 0.2s);

  &.white {
    background-color: rgba(255,255,255,0.95);
  }

  &.centered {
    .md-content {
      height: 200px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: inline-block;
    }
  }

  & > .md-mask {
    position: static;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .md-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .md-content {
    text-align: left;
    position: relative;
    z-index: 101;
    @include transform(scale(0.9));
    @include transform-origin(center 0);
    @include transition(all 0.2s);
  }
}

.md-modal.md-open,
.md-modal:target {
  opacity:1;
  pointer-events: auto;

  .md-content {
    @include transform(scale(1));
  }
}

#add_to_list {
  .md-content {
    width: 525px;
    height: 455px;
    text-align: center;

    p.msg {
      color: #2d3132;
      font-size: 58px;
      font-weight: 100;
    }
    .cs-iw {
      margin-top: 40px;
      display: inline-block;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
    }

    .cs-cta-lg {
      margin-top: 35px;
      border: 0
    }

    .well {

    }
  }
}


.md-close {
    width: 24px;
    position: absolute;
    top: 20px;
    right: 20px;

    color: #999999;
    line-height: 25px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: 100;

    cursor: pointer;
    border-radius: 12px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
  }

.cs-cta-lg {
  line-height: 44px;
  padding: 0 50px;
  color: #fff;
  font-weight: 900;
  font-size: 12px;
  border-radius: 22px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background-color: $cs-c-blue;
  outline: none;
  cursor: pointer;
}