#user-profile-left-rail-container {
    width: 344px;
    float: left;
    vertical-align: top;
    margin-bottom: 80px;
}

#outter-user-stats-container {
    width: 100%;
    border: 7px solid white;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 0px 2px #eeeeee;
    margin-bottom: 20px;
    margin-right: 30px;
    float: left;
    display: inline-block;
}

#user-photo-container {
    width: 100%;
    height: 250px;
}

#inner-user-stats-container {
    width: 100%;
}

.stat-row {
    width: 275px;
    margin: auto;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #e6e6e6;
}

.stat-wrap {
    width: 100%;
    height: 30px; 
    /** border-bottom: 1px solid #e6e6e6; **/
}

.last-stat-wrap {
    width: 100%;
    height: 30px;
    border: none;
}

.last-stat-row {
    width: 275px;
    margin: auto;
    padding: 20px 0px 40px 0px;
    border: none;
}

.stat-count {
    float: left;
    font-family: Museo;
    font-weight: 100;
    font-size: 40px;
    line-height: 30px;
    color: #72ca28;
}


.stat-label {
    float: right;
    font-family: Museo;
    font-weight: 700;
    font-size: 11px;
    line-height: 30px;
    color: #2d3132;
}

#outter-user-scores-container {
    width: 100%;
    height: 372px;
    padding-top: 40px;
    border: 7px solid white;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 0px 2px #eeeeee;
    float: left;
    display: inline-block;
    clear: left;
}

#inner-user-scores-container {
    width: 100%;
    height: 250px;
}

.score-number {
    float: left;
    font-family: Museo;
    font-weight: 900;
    font-size: 24px;
    color: #02b8ea;
}

.no-score-text {
    float: left;
    color: #02b8ea;
    font-size: 11px;
    line-height: 30px;
}

.score-row {
    height: 118px;
    padding: 0px 30px 25px 30px;
}

.score-wrap {
    width: 100%;
    height: 80px; 
    border-bottom: 1px solid #e6e6e6;
}

.last-score-wrap {
    width: 100%;
    height: 80px;
}

/** RIGHT RAIL STYLES **/

#user-profile-right-rail-container {
    width: 520px;
    float: right;
    vertical-align: top;
    margin-bottom: 60px;
}

#outter-user-detail-container {
    width: 100%;
    margin-left: 30px;
    display: inline-block;
    float: right;
    vertical-align: top;
}

#user-name-container {
    text-align: left;
    border-bottom: 4px solid #dadada;
    margin-bottom: 40px;
    padding-top: 0px;
    
    h1 {
        font-family: Museo;
        font-weight: 100;
        font-size: 58px;
        line-height: 42px;
        margin-top: 0px;
        padding-top: 0px;
    }
}

#user-profile-details-container {
    text-align: left;
    margin-bottom: 40px;
}

.user-profile-detail-label {
    font-family: Museo;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .05em;
    color: #000000;
}

.user-profile-detail-data {
    font-family: Museo;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .05em;
    color: #6b6e70;
}

#follow-user-button {   
    padding-left: 30px;
    padding-right: 30px;
    height: 45px;
    margin-top: 20px;
    font-family: Museo;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
}

.blue-button {
	background-color: #02b8ea;
}

.green-button {
	background-color: #72ca28;
}

#follow-user-button a, {
    color: white;
    text-decoration: none;
    line-height: 45px;
}

#follow-user-button a:visited {
    color: white;
    text-decoration: none;
}

p.follow-button-text {
    line-height: 45px;
}


/** RECENT ACTIVITY MODULE STYLES **/

#user-profile-recent-activity-container {
    width: 100%;
    float: right;
}

#recent-activity-header-container {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 4px solid #dadada;
    
    h3 {
        font-family: Museo;
        font-weight: 300;
        font-size: 25px;
        color: #34373f;
        margin-bottom: 0px;
    }
}

.recent-activity-stream-row {
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 20px 18px 20px 18px;
    text-align: left;
}

.activity-stream-inner-container {
    height: 40px;
}

.activity-content {
    font-family: Museo;
    text-align: left;
}

.activity-icon-container {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-right: 30px;
}

.List-icon {
    background-image: url('activity-icon.png');
}

.Tip-icon {
    background-image: url('activity-icon.png');
}

.VenueScore-icon {
    background-image: url('activity-icon.png');
}

.photo-icon {
    background-image: url('activity-icon.png');
}

.activity-copy {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #6b6e70;
}

.activity-copy a, a:visited {
    color: #12bceb;
    text-decoration: none;
}

.activity-timestamp {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}


/** USER LISTS MODULE STYLES **/

#user-profile-lists-container {
    width: 100%;
    height: 671px;
    clear: both;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f7f7f7;
    font-family: Museo;
    font-size: 0px;

}

h2#user-profile-lists-header {
    font-size: 25px;
    font-weight: 300;
    color: #34373f;
    margin-bottom: 60px;
    margin-top: 60px;
}

#user-profile-lists-carousel-container {
    width: 960px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
}

.list-preview-card {
    width: 300px;
    height: 480px;
    margin: auto;
    background-color: #ffffff;
    border-top: 5px solid #2464ad;
    border-radius: 3px;
    padding-top: 50px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    white-space: normal;
    padding-right: 20px;
    padding-left: 20px;
    
    h3.list-preview-card-list-name {
        color: #2464ad;
        font-weight: 300;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 20px;
        margin-top: 0px;
        
        a { 
          color: #2464ad;
          font-weight: 300;
          font-size: 25px;
          line-height: 25px;
          text-decoration: none;
        }
    }
    
    p.list-preview-card-list-description {
        width: 215px;
        height: 50px;
        font-weight: 300;
        color: #6b6e70;
        font-size: 14px;
        margin-bottom: 40px;
    }
    
    ol.list-preview-card-venue-list {
        list-style-type: none; 
    }
    
    div.list-preview-card-venue-list {
        
        margin-bottom: 20px;
    }
    
    div.list-preview-card-venue {
        width: 240px;
        height: 50px;
        margin: auto;
        border-bottom: 1px solid #dadada;
    }
    
    .list-preview-card-venue-number {
        float: left;
        line-height: 50px;
        font-weight: 700;
        font-size: 12px;
    }
    
    .list-preview-card-venue-name {
        float: right;
        line-height: 50px;
        font-weight: 300;
        font-size: 14px;
        color: #6b6e70;
        
        a {
            line-height: 50px;
            font-weight: 300;
            font-size: 14px;
            color: #6b6e70;
            text-decoration: none;
        }
    }
    
    .see-all-venues-link {
        font-weight: 900;
        font-size: 11px;
        color: #02b8ea;
        width: 240px;
        text-align: left;
        margin-bottom: 40px;
        text-transform: uppercase;
        
        a {
            text-decoration: none;
        }
    }
    
    .list-preview-card-timestamp-likes {
        width: 240px;
        margin: auto;
    }
    
    .list-preview-card-timestamp {
        font-weight: 700;
        font-size: 12px;
        color: #000000;
        float: left;
    }
    
    .list-preview-card-likes {
        font-weight: 900;
        font-size: 11px;
        color: #02b8ea;
        float: right;
    }

}

.no-margin-card {
    margin-right: 0px;
}

/************************/
/* EDIT USER FORM STYLES*/
/************************/

#edit-user-inner-page-container {
	width: 960px;
	margin: auto;
	padding-right: 50px;
	padding-left: 50px;
}

#edit-user-form-header {
	font-weight: 100;
	font-size: 58px;
	color: #2d3132;
	margin-bottom: 10px;
}

.facebook-connected,
.facebook-not-connected {
	width: 420px;
	font-weight: 100;
	font-size: 14px;
	line-height: 20px;
	color: #6b6e70;
	margin-bottom: 40px;
	a {
        color: #02b8ea;
        text-decoration: none;
    }

}


/** LEGACY STYLES 

#user-name {

  h2 {
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: 3.0em;
    margin-bottom: 30px;
  }
  
}

#user-stats {
  
  table {
    border: none;
    background: #1e1e1e;
    color: white;
    padding: 30px;
    margin-bottom: 0px;
    margin-top: 30px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  
  table tr td {
    border: none;
    width: 30%;
    text-align: center;
    font-family: 'Gotham-XLight';
    font-weight: normal;
    font-size: 1.25em;
  }
  
  td.label {
    padding-top: 5px;
  }
  
  .label {
    background: none;
    color: #898989;
    font-family: 'Gotham-Light';
    text-transform: none;
    font-size: 1.1em;
    padding-bottom: 0px;
  }
  
  .scores, .tips, .followers {
    font-size: 4.0em;
  }
  
  #follow-button-container {
    background: #1e1e1e;
    margin-left: 0px;
  
  #follow-button {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
  .btn-main {
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 30px;
      width: 150px;
    }
  }
  
}
   
}

 USER DETAILS MODULE 

#user-details {
  background: none;
  margin-left: 0;
  margin-top: 30px;
  padding: 10px;
  
  h1 {
    font-family: 'Gotham-Book';
    font-weight: normal;
    font-size: 3.0em;
    border-bottom: 2px solid #898989;
  }
  
  h2 {
    font-family: 'Gotham-Book';
    font-weight: normal;
    font-size: 2.5em;
    
  }
  
  h3 {
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: 1.0em;
    
    line-height: 1.2em;
  }
  
  p {
    font-family: 'Gotham-Light';
    font-size: 1.3em;
    line-height: 1.2em;
  }
  
  table {
    border: none;
    padding-top: 10px;
  
    td {
      border: none;
    }
    
    .label {
      font-family: 'Gotham-Light';
      font-weight: normal;
      font-size: 1.0em;
      line-height: 1.2em;
      text-transform: none;
      background: none;
      color: black;
    }
    
    .username, .member_since, .twitter {
     font-family: 'Gotham-Book';
     font-weight: normal;
     font-size: 2.2em;
     padding-left: 0;
    }
  
  }

}
**/