$cs-header-height: 60px;
$background-gray: #f2f2f2;

h1.cs 
{
	color: #2d3132;
	font-size: 58px;
	font-weight: 100;
	line-height: 50px;
}

h3.cs
{
	display: block;
	color: #2d3132;
	font-size: 25px;
	font-weight: 700;
	line-height: 32px;	
}

p.cs
{
	color: #6b6e70;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

a
{
	color: #02b8ea;
	text-decoration: none;
}