#score1 {
	  width: 138px;
	  height: 110px;
  }

#header-module {
	margin-top: 40px;
}

#venue-detail {
  width: 640px;
  display: inline-block;
  float: right;
  margin-left: 40px;
  padding: 40px 0 0 0;
	
  a {
    font-size:  1.0em;
    padding-left: 5px;
  }
  
  h4.phone {
	  padding-left: 15px;
  }
  
  h4.website {
	  padding-left: 15px;
  }	
}

#venue-detail h1 {
  margin-bottom: 0;
  padding-top: 0px;
  font-family: 'Gotham-XLight';
  font-size: 2.75em;
  font-weight: normal;
}

#venue-detail h4 {
  margin-bottom: 30px;
  padding-left: 5px;
  display: inline-block;
  font-family: 'Gotham-XLight';
  font-weight: normal;
  font-size: 1.1em;
  color: #898b92;
}

.social-links {
  a, iframe {
    float: right;
  }
}

input {
  border: none;
}


/* SCORE MODULE */

#overall-score-container {
	width: 260px;
	display: inline-block;
}

#overall-score {
	background: white;
	height: 300px;
	text-align: center;

  .crowdscore {
	  padding-top: 70px;
	  font-family: 'Gotham-Medium';
	  font-size: 50px;
	  color: #ea4f4f;
  }
  
  .total_scores {
    padding-bottom: 0px;
    margin-top: 50px;
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: .85em;
  }
}

#overall-score-header {
  background: #34373f;
  height: 35px; 
  color: white;
  text-align: center;

  h5 {
    color: white;
    padding-top: 20px;
  }
  
  h4 {
    color: white;
    font-size: .8em;	  
  }

  h2 {
    padding: 20px 0 10px;
    color: white;
    font-family: 'Gotham-Book';
    font-weight: normal;
    font-size: 50px;
    line-height: 40px;

    &.big {
      font-family: 'Gotham-Book';
      font-size: 90px;
      font-weight: normal;
      line-height: 56px;
      /* text-shadow: 1px 1px #cbcbcb; */
    }
  }
}

#breakdown {
  width: 640px;
  padding: 30px 0px 0px;
  margin-left: 40px;
  display: inline-block;
  float: right;
  border-top: 1px solid #dadada;

  p {
    font-weight: bold;
    font-size: 20px;
  }
  
  table {
    width: 640px;
    border: none;
    padding: 0px 0px;
    margin-bottom: 0px;
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: 1.25em;
    display: inline-block;
  }
  
  tbody {
	width: 640px;
  }
  
  td {
    border: none;
    width: 160px;
    vertical-align: middle;
  }

  
  table td.prompt {
    text-align: center;
    font-size: 12px;
    color: #949498;
    font-family: 'Gotham-Book';
  }
  
  table td.score {
    height: 110px;
    text-align: center;
    font-size: 30px;
    font-family: 'Gotham-Medium';
  }
  .category1 {
	    color: #4fcfea;
    }
    
  #score1 {
	  width: 138px;
	  height: 110px;
  }
    
  .category2 {
	    color: #f6bc32;
    }
    
  .category3 {
	    color: #5ad385;
    }
    
  .category4 {
	    color: #8d66e5;
    }
}
    /*table td.prompt.last {
      border-bottom: none;
    }
    
    table td.score.last {
      border-bottom: none;
    } */


/* TAGS MODULE */

#tags-box {
  background:url('dark-pattern.png') repeat fixed center;
  display: inline-block;
  color: white;
  margin: 30px 0;
  
  h2 {
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: 2.0em;
    color: white;
    padding: 5px 10px;
  }
  
  #tags-box-list {
    max-width: 220px;
    padding: 10px 0px;
    background: white;
    color: black;
    
      p.tag {
        background: url('dark-pattern.png');
        color: white;
        font-family: 'Gotham-Light';
        text-transform: lowercase;
        font-weight: normal;
        font-size: 1.5em;
        margin-left: 5px;
        padding: 5px 5px;
        display: inline-block;
      }
      
      a {
        display:block;
        text-align: right;
        margin: 10px 5px 5px;
      }
  }
  
}

/* MAP & ADDRESS MODULE */

#map-address-phone {

  .venue-map {
    background: white;
    border: 5px white solid;
  }
  
  address {
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1.45em;
    margin-bottom: 0px;
    color: #727272;
  }
  
  p.phone {
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1.45em;
    margin-bottom: 0px;
    color: #727272;
  }
  
  p.links {
    margin-top: 8px;
  }
  
  a {
    font-size: 1.0em;
  }

}

/* TIPS MODULE */

#tip_module {
  background: #f;
  margin-bottom: 30px;
  padding-bottom: 10px;
  
  p[id^='tip'] {
      margin-bottom: 0px;
      padding: 0 10px 0;
      display: block;
      font-family: 'Gotham-Light';
      font-weight: normal;
      font-size: 1.0em;
  }
  
  h3 {
    font-family: 'Gotham-Medium';
    font-weight: normal;
  }
  
  form .input {
    margin-left: 0px;
  }
  
  .actions {
    border-top: none;
  }
  
  p.tip-author {
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  
  p.tip-timestamp {
    display: inline;
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: .75em;
    white-space: nowrap;
  }
  
  p.tip-likes {
    display: inline;
    font-family: 'Gotham-Book';
    font-weight: normal;
    padding-right: 10px;
  }
    
  #tips {
    background: #f;
    width: 100%;
    display: inline-block;
    
    .tip {
    display: block;
    padding: 10px 0;
    margin-left: 0px;
    border-bottom: 1px solid #cbcbcb;
  }
  
    div.tip:first-of-type {
      margin-top: 40px;
    }
    
    p.sort {
      float: right;
      margin-right: 10px;
      margin-top: 10px;
    }
 
  }
  
  input.search-field {
    border: none;
    margin-right: 20px;
    margin-bottom: 5px;
    height: 40px;
    line-height: 1.2em;
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: 2.0em;
    vertical-align: middle;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

  input.search-field:focus {
  -webkit-box-shadow: inset 0px  0px 0px 2px rgba(0, 153, 204, 1);
  -moz-box-shadow: inset 0px  0px 0px 2px rgba(0, 153, 204, 1);
  -ms-box-shadow: inset 0px  0px 0px 2px rgba(0, 153, 204, 1);
  box-shadow: inset 0px  0px 0px 2px rgba(0, 153, 204, 1);
  }
  
  input.tip-input {
    border: none;
    border-bottom: none;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 99%;
    height: 40px;
    line-height: 1.2em;
    font-family: 'Gotham-Light';
    font-weight: normal;
    font-size: 1.0em;
    vertical-align: middle;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

  input.tip-input:focus {
    border-bottom: none;
    -webkit-box-shadow: inset 0px  0px 0px 2px rgba(0, 153, 204, 1);
    -moz-box-shadow: inset 0px  0px 0px 2px rgba(0, 153, 204, 1);
    -ms-box-shadow: inset 0px  0px 0px 2px rgba(0, 153, 204, 1);
    box-shadow: inset 0px  0px 0px 2px rgba(0, 153, 204, 1);
  }
  
  #submit-tip-button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

/* END TIPS MODULE */

/* HIGHER SCORED VENUES MODULE */

#higher-scored-venues {
}

.higher-scored-venue-container {
  margin: 10px 0px;
}

/* END HIGHER SCORED VENUES MODULE */

p.note {
  text-align: center;

  a {
    margin: 0 auto;
  }
}

p.detail {
  margin-bottom: 20px;
}

h3.header {
  margin-bottom: 10px;
}

.images {
  text-align: center;
  width: 460px;
  border: 5px white solid;
}

img {
  max-width: 460px;
}

.placeholder-image {
  width: 460px;
  height: 348px;
  background-color: #ccc;
  text-align: center;
  margin-bottom: 10px;

  p {
    padding-top: 140px;
    font-size: 30px;
  }
}

.modal form {
  margin-bottom: 0;
}
