<p>Hello <%= @resource.username %>!</p>

<p>We received a request to reset your password. If you made this request, you can use the link below to finish the reset. If you didn't make this request, you can simply ignore this email and the process will be canceled.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
