var tipVote = $('.tip .vote[data-tip-id="<%= tip.id %>"]')
var count = parseInt(tipVote.text());
tipVote.addClass('like').removeClass('liked').html("<span></span>" + --count)
tipVote.prop("href", "/venues/<%= tip.venue.id %>/tips/<%= tip.id %>/upvote");