var tipVote = $('.tip .vote[data-tip-id="<%= tip.id %>"]')
var count = parseInt(tipVote.text());
tipVote.removeClass('like').addClass('liked').html("<span></span>" + ++count)
tipVote.prop("href", "/venues/<%= tip.venue.id %>/tips/<%= tip.id %>/remove_vote");