doctype 5

html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg"
  head
    title = "Crowdscore #{yield(:title)}"

    = stylesheet_link_tag "application"
    = csrf_meta_tags
  body
    /yield used to go here
    article
      .navbar
        .navbar-inner
          ul
            li: a id="register" href="#" register
            li: a href="#" log in
      
      .searchbar-placeholder
      .searchbar
        .searchbar-inner
          a.brand href="#"
          input type="text" class="search-input" placeholder="search"
          .search-input-fade
          input type="text" placeholder="San Francisco, CA 04109" class="location-input"
          input type="button" id="exit-location" value="x" class="close"
          input type="button" id="edit-location" class="edit"
      .floater  
        ul.nav.secondary-nav
          - if user_signed_in?
            li.menu
              = link_to "Account", "#", class: "menu"
              ul.menu-dropdown
                  li = link_to "Sign out", destroy_user_session_path, method: "delete"
                  li = link_to "View My Lists", lists_path
                  li = link_to "My Profile", user_path(current_user)
                  li = link_to "My Account", edit_user_registration_path
                  - if current_user.admin?
                    li.divider
                    li = link_to "Administrative Area", admin_root_path
          - else
            li = link_to "Sign in", new_user_session_path, :class => '', :"data-controls-modal" => "sign-in-modal", :"data-backdrop" => "true"
            li = link_to "Sign up", new_user_registration_path
          = link_to "Sign out", destroy_user_session_path, method: "delete"
              
      == yield


      #footer
        p Copyright &copy; 2013 Crowdscore. All rights reserved.

    svg
      filter id="blur"
        feGaussianBlur stdDeviation="15"
  
    #auth-modal.auth-modal
      .modal-mask
        .modal-body
          .modal-content
            .close-modal
              = '+'
            a Sign into Crowdscore!
            = form_for devise_resource, as: resource_name, url: session_path(resource_name) do |f|
              = f.text_field :email, placeholder: "Email"
              = f.password_field :password, placeholder: "Password"
              = f.submit "Sign in"

#sign-in-modal.modal style="display: none;"
  .modal-header
    a.close-modal x
    h3 Sign in
    
  - unless user_signed_in?
    = form_for "user", url: user_session_path, html: {class: ""} do |f|
      = f.text_field :email, class: "search-field", size: "30", placeholder: "Email"
      = f.password_field :password, class: "search-field", size: "30", placeholder: "Password"
      #sign-in-submit-wrapper
        button.btn-main#sign-in-submit(type="submit") Sign in
        br
        p = link_to "Sign in with Facebook", "#", class: "facebook-login btn-facebook"
  
    p.new-cta New to Crowdscore? #{link_to "Sign up.", new_user_registration_path, class: "small-link"}

= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false'
= javascript_include_tag "application"
coffee:
  new CS.NavView()

= content_for :javascript
== render "shared/facebook"

- if Rails.env.production?
  = render "shared/google_analytics"
- else
  /! In production, analytics go here.
javascript:
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/0MsUmqbikVAbKrdEYidA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
= yield :scripts

javascript:
    var locationActive = 0;
    var searchActive = 0;
    var scrollSearch = 0;

    // Represents the faded div at the end of the search input
    // When clicked, focus on the search field
    $('.search-input-fade').click(function(){
      $('.search-input').focus();
    });

    // On focus, trigger animation to place search bar in active state
    $('.search-input').focus(function() {
      $('a.brand').addClass('invisible');
      $('.search-input').addClass('search-input-active');
      if (!scrollSearch)
        searchActive = 1;
      if (!locationActive){
        $('.edit').click();  
      }
    });

    // Place the searchbar into its inactive state
    $('.close').click(function(){

      // variable animation time for placing location input into active state
      var timer = searchActive ? 250 : 125;
      if (searchActive == 3) timer = 0;
      
      // Remove classes to place searchbar into inactive state
      $('a.brand').removeClass('invisible');
      $('.search-input').removeClass('search-input-active');
      $('.location-input').fadeTo(timer, 0, function(){
        var $this = $(this);
        $this.removeClass('location-input-active');
        $this.removeClass('location-symbol-active');
        $this.stop(true, true).fadeTo(timer, 1);
        locationActive = 0;
        searchActive = 0;
      });

      // swap close and edit buttons
      $('.close').stop(true, true).fadeOut(500, function(){
      $('.edit').stop(true, true).fadeIn(500);
      });

    });

    // On location focus, transition into location input active state
    $('.location-input').focus(function(){
      $('.edit').click();
      locationActive = 1;
    });

    // Place the searchbar into its inactive state
    $('.edit').click(function(){

      // variable animation time for placing location input into active state
      var timer = searchActive ? 250 : 125;
      if (searchActive == 3) timer = 0;
      
      // Add classes to place searchbar into active state
      $('.location-input').fadeTo(timer, 0, function(){
        var $this = $(this);
        $this.addClass('location-input-active'); 
        $this.addClass('location-symbol-active');
        $this.stop(true, true).fadeTo(timer, 1);  
        locationActive = 1;
      });

      $('.edit').stop(true, true).fadeOut(timer, function(){
      $('.close').stop(true, true).fadeIn(timer);
      });

    });

    function slideDelay(){
      setTimeout(function(){
        if (!scrollSearch){
          $('.searchbar').addClass('search-bar-fixed-negpos');
          scrollSearch = 1; 
          $('.search-input').blur();
        }
      },50);
    }

    $(document).ready(function() {

      // Remove classes to place searchbar into inactive state  
      var s = $('div.searchbar'); 
      var pos = s.position();   

      // Handle search bar on scroll listener             
      $(window).scroll(function() {

          // Get the scroll distance from top of page
          var windowpos = $(window).scrollTop();

          // If the searchbar is no longer visible, handle the fixed scroll bar animation
          if (windowpos >= 120) {
            if (!scrollSearch){
              $('.searchbar-placeholder').addClass('searchbar-place-holder')
              $('.brand').addClass('brand-scroll').css('width', 0);

              $('.search-input').addClass('search-input-scroll');
              $('.search-input').focus();
              $('.searchbar').addClass('search-bar-top');
              slideDelay();
            }
          windowpos
          } else {
            if (windowpos <= 30){
              if (scrollSearch){
                $('.searchbar-placeholder').removeClass('searchbar-place-holder')
                $('.brand').css('width', '205px').removeClass('brand-scroll');
                
                $('.search-input').removeClass('search-input-scroll');
                $('.close').click();
                $('.searchbar').removeClass('search-bar-fixed-negpos'); 
                $('.searchbar').removeClass('search-bar-top'); 
                scrollSearch = 0;
              }
            }
          }
      });
    });

    $(document).ready(function() {
      $( "#register" ).click(function() {
        $("#auth-modal").addClass("visible");
        $('article').addClass('blurry');
        $('article').css('filter','url("#blur")');
      });

      $('.close-modal').click(function(){
        $("#auth-modal").removeClass("visible");
        $('article').removeClass('blurry');
        $('article').css('filter','none');
      });
    });

    $(document).keyup(function(e) {
      if (e.keyCode == 27) { 
        $('#auth-modal').removeClass('visible');
        $('article').removeClass('blurry');
        $('article').css('filter','none');
      }
    });


